<%= form_with(model: users_report, local: true) do |form| %>
  <% if users_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(users_report.errors.count, "error") %> prohibited this users_report from being saved:</h2>

      <ul>
      <% users_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :users_report_user_id %>
  </div>

  <div class="field">
    <%= form.label :local %>
    <%= form.text_field :local, id: :users_report_local %>
  </div>

  <div class="field">
    <%= form.label :lat %>
    <%= form.text_field :lat, id: :users_report_lat %>
  </div>

  <div class="field">
    <%= form.label :long %>
    <%= form.text_field :long, id: :users_report_long %>
  </div>

  <div class="field">
    <%= form.label :canal %>
    <%= form.text_field :canal, id: :users_report_canal %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
