<!--

<%= form_with(model: emissora, local: true) do |form| %>
  <% if emissora.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(emissora.errors.count, "error") %> prohibited this emissora from being saved:</h2>

      <ul>
      <% emissora.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :emissora_name %>
  </div>

  <%= form.attachinary_file_field :photo %>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


-->



<div class="m-grid__item m-grid__item--fluid m-wrapper">
          <!-- BEGIN: Subheader -->
          <div class="m-subheader ">
            <div class="d-flex align-items-center">
              <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                  Adicionar
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                  <li class="m-nav__item m-nav__item--home">
                    <a href="/admin/dashboard" class="m-nav__link m-nav__link--icon">
                      <i class="m-nav__link-icon la la-home"></i>
                    </a>
                  </li>
                  <li class="m-nav__separator">
                    -
                  </li>
                  <li class="m-nav__item">
                    <a href="/admin/dashboard" class="m-nav__link">
                      <span class="m-nav__link-text">
                        Dashboard
                      </span>
                    </a>
                  </li>
                  <li class="m-nav__separator">
                    -
                  </li>
                  <li class="m-nav__item">
                    <a href="/admin/categories" class="m-nav__link">
                      <span class="m-nav__link-text">
                        Emissora
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
              <div>
                


              </div>
            </div>
          </div>
          <!-- END: Subheader -->
          <div class="m-content">
            <div class="row">
              
            <div class="col-md-12">

              <%= render "sharedAdmin/alert" %>
              
              <!--begin::Portlet-->
              <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                  <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                      <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                      </span>
                      <h3 class="m-portlet__head-text">
                        <%= 
                          if action_name == "new"
                            "Adicionar Emissora"
                          else
                            "Editar Emissora"
                          end
                        %>
                      </h3>
                    </div>
                  </div>
                </div>
                <!--begin::Form-->


                <%= form_with(model: emissora, local: true) do |f| %>



                  <div class="m-portlet__body">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Nome
                      </label>

                      <%= f.text_field :name, autofocus: true, required: true, class: "form-control m-input m-input--square" %>

                    </div>


                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Logo
                      </label>


                      <div class="custom-file">
                        <%= f.attachinary_file_field :photo, class: "custom-file-input" %>
                        <label class="custom-file-label" for="customFile">
                          Escolher arquivo
                        </label>
                      </div>

                    </div>


                    <div class="m-form__actions">
                      <!-- <button type="reset" class="btn btn-metal">
                        Submit
                      </button> -->
                      <%= f.submit "Salvar", class: "btn btn-metal" %>

                     
                    </div>

                    
                  </div>


                <% end %>
                <!--end::Form-->
              </div>
              <!--end::Portlet-->
    
    
    
      </div>



    </div>
  </div>
</div>



  <script>
    // jQuery(function($){
    //   $('.attachinary-input').attachinary();
    // });
  </script>
