<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @emissora.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @emissora.photo %>
</p>

<%= link_to 'Edit', edit_emissora_path(@emissora) %> |
<%= link_to 'Back', emissoras_path %>
