<!-- <h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "users/shared/links" %> -->


<div class="m-login__wrapper-1 m-portlet-full-height">
          <div class="m-login__wrapper-1-1">
            <div class="m-login__contanier">
              <div class="m-login__content">
                <div class="m-login__logo">
                  <a href="#">
                    <%= image_tag "logoBeep.png" %>
                  </a>
                </div>
                
                <div class="m-login__desc">
                  Amazing Stuff is Lorem Here.Grownng Team
                </div>
                <div class="m-login__form-action">
                  <a href="/cadastro" id="m_login_signup" class="btn btn-outline-focus m-btn--pill">
                    Crie sua conta
                  </a>
                </div>

                <div class="">
                  <h3>
                    JUNTE-SE A NOSSA COMUNIDADE DE USUÁRIOS E BAIXE O APP
                  </h3>
                </div>

                <%= render "sharedAdmin/download" %>


              </div>
            </div>
            <div class="m-login__border">
              <div></div>
            </div>
          </div>
        </div>


<div class="m-login__wrapper-2 m-portlet-full-height">
          <div class="m-login__contanier">
            <div class="m-login__signin">
              <div class="m-login__head">
                <h3 class="m-login__title">
                  Entre com sua conta
                </h3>

                <%= render "sharedAdmin/alert" %>

              </div>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "m-login__form m-form", style: "margin-top: 20px;" }) do |f| %>

                <%= render "sharedAdmin/socialLogin" %>



                <div class="form-group m-form__group">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control m-input", placeholder: "Email" %>


                </div>
                <div class="form-group m-form__group">

                  <%= f.password_field :password, autocomplete: "current-password", class: "form-control m-input m-login__form-input--last", placeholder: "Senha" %>

                </div>
                <div class="row m-login__form-sub">
                  <div class="col m--align-left">
                    <label class="m-checkbox m-checkbox--focus">
                      <%= f.check_box :remember_me %>
                      Lembrar-me
                      <span></span>
                    </label>
                  </div>
                  <div class="col m--align-right">
                    <a href="/esqueci-a-senha" id="m_login_forget_password" class="m-link">
                      Esqueceu a senha ?
                    </a>
                  </div>
                </div>
                <div class="m-login__form-action">

                  <%= f.submit "Entrar", class: "btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" %>

                </div>
              <% end %>
            </div>





           







          </div>
        </div>