<!--
<%= form_with(model: advertiser, local: true) do |form| %>
  <% if advertiser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(advertiser.errors.count, "error") %> prohibited this advertiser from being saved:</h2>

      <ul>
      <% advertiser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :razao %>
    <%= form.text_field :razao, id: :advertiser_razao %>
  </div>

  <div class="field">
    <%= form.label :fantasia %>
    <%= form.text_field :fantasia, id: :advertiser_fantasia %>
  </div>

  <div class="field">
    <%= form.label :cnpj %>
    <%= form.text_field :cnpj, id: :advertiser_cnpj %>
  </div>

  <div class="field">
    <%= form.label :endereco %>
    <%= form.text_field :endereco, id: :advertiser_endereco %>
  </div>

  <div class="field">
    <%= form.label :cep %>
    <%= form.text_field :cep, id: :advertiser_cep %>
  </div>

  <div class="field">
    <%= form.label :numero %>
    <%= form.text_field :numero, id: :advertiser_numero %>
  </div>

  <div class="field">
    <%= form.label :complemento %>
    <%= form.text_field :complemento, id: :advertiser_complemento %>
  </div>

  <div class="field">
    <%= form.label :cidade %>
    <%= form.text_field :cidade, id: :advertiser_cidade %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado, id: :advertiser_estado %>
  </div>

  <div class="field">
    <%= form.label :logo %>
    <%= form.text_field :logo, id: :advertiser_logo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
-->










<div class="m-grid__item m-grid__item--fluid m-wrapper">
          <!-- BEGIN: Subheader -->
          <div class="m-subheader ">
            <div class="d-flex align-items-center">
              <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                  Adicionar
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                  <li class="m-nav__item m-nav__item--home">
                    <a href="/admin/dashboard" class="m-nav__link m-nav__link--icon">
                      <i class="m-nav__link-icon la la-home"></i>
                    </a>
                  </li>
                  <li class="m-nav__separator">
                    -
                  </li>
                  <li class="m-nav__item">
                    <a href="/admin/dashboard" class="m-nav__link">
                      <span class="m-nav__link-text">
                        Dashboard
                      </span>
                    </a>
                  </li>
                  <li class="m-nav__separator">
                    -
                  </li>
                  <li class="m-nav__item">
                    <a href="/admin/advertisers" class="m-nav__link">
                      <span class="m-nav__link-text">
                        Anunciantes
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
              <div>
                


              </div>
            </div>
          </div>
          <!-- END: Subheader -->
          <div class="m-content">
            <div class="row">
              
            <div class="col-md-12">

              <%= render "sharedAdmin/alert" %>
              
              <!--begin::Portlet-->
              <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                  <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                      <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                      </span>
                      <h3 class="m-portlet__head-text">
                        <%= 
                          if action_name == "new"
                            "Adicionar anunciante"
                          else
                            "Editar anunciante"
                          end
                        %>
                      </h3>
                    </div>
                  </div>
                </div>
                <!--begin::Form-->

                <%= form_with(model: advertiser, local: true) do |f| %>


                  <div class="m-portlet__body">

                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Razão social
                      </label>
                      <%= f.text_field :razao, autofocus: true, required: true, class: "form-control m-input m-input--square" %>
                    </div>
                    <!-- END ITEM -->

                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Nome Fantasia
                      </label>
                      <%= f.text_field :fantasia, required: true, class: "form-control m-input m-input--square" %>
                    </div>
                    <!-- END ITEM -->
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Logo
                      </label>
                      <div class="custom-file" style="height: ; min-height: ;">
                        <label class="custom-file-label" for="customFile">
                          Escolher arquivo
                        <%= f.attachinary_file_field :logo, class: "custom-file-label" %>

                        </label>
                      </div>
                    </div>
                    <!-- END ITEM -->
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Categoria
                      </label>
                      <%= f.collection_select :advertisers_category_id, AdvertisersCategory.all, :id, :name, {prompt: "Selecione uma categoria" }, {:class => 'custom-select form-control', required: true } %>
                    </div>
                    <!-- END ITEM -->

                    
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        CNPJ
                      </label>
                      <%= f.text_field :cnpj, required: true, class: "form-control m-input m-input--square cnpj" %>
                    </div>
                    <!-- END ITEM -->
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Endereço
                      </label>
                      <%= f.text_field :endereco, required: true, class: "form-control m-input m-input--square" %>
                    </div>
                    <!-- END ITEM -->
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        CEP
                      </label>
                      <%= f.text_field :cep, required: true, class: "form-control m-input m-input--square cep" %>
                    </div>
                    <!-- END ITEM -->
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Número
                      </label>
                      <%= f.text_field :numero, required: true, class: "form-control m-input m-input--square" %>
                    </div>
                    <!-- END ITEM -->
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Complemento
                      </label>
                      <%= f.text_field :complemento, class: "form-control m-input m-input--square" %>
                    </div>
                    <!-- END ITEM -->
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Estado
                      </label>
                      <%= f.select(:estado, options_for_select(User::ESTADOS, @advertiser.estado), {include_blank: 'Selecione um estado'}, {required: true, class: "form-control"} )
 %>
                    </div>
                    <!-- END ITEM -->
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Cidade
                      </label>
                      <%= f.text_field :cidade, required: true, class: "form-control m-input m-input--square" %>
                    </div>
                    <!-- END ITEM -->
                    
                    




                    <div class="m-form__actions">
                      <!-- <button type="reset" class="btn btn-metal">
                        Submit
                      </button> -->
                      <%= f.submit "Salvar", class: "btn btn-metal" %>

                     
                    </div>

                    
                  </div>


                <% end %>
                <!--end::Form-->
              </div>
              <!--end::Portlet-->
    
    
    
      </div>



    </div>
  </div>
</div>


