<p id="notice"><%= notice %></p>

<p>
  <strong>Razao:</strong>
  <%= @advertiser.razao %>
</p>

<p>
  <strong>Fantasia:</strong>
  <%= @advertiser.fantasia %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @advertiser.cnpj %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @advertiser.endereco %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @advertiser.cep %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @advertiser.numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @advertiser.complemento %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @advertiser.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @advertiser.estado %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @advertiser.logo %>
</p>

<%= link_to 'Edit', edit_advertiser_path(@advertiser) %> |
<%= link_to 'Back', advertisers_path %>
