<!--
<%= form_with(model: campaign, local: true) do |form| %>
  <% if campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :campaign_name %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :campaign_body %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :campaign_link %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :campaign_image %>
  </div>

  <div class="field">
    <%= form.label :expiration %>
    <%= form.datetime_select :expiration, id: :campaign_expiration %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :campaign_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
-->











<div class="m-grid__item m-grid__item--fluid m-wrapper">
          <!-- BEGIN: Subheader -->
          <div class="m-subheader ">
            <div class="d-flex align-items-center">
              <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                  Adicionar
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                  <li class="m-nav__item m-nav__item--home">
                    <a href="/admin/dashboard" class="m-nav__link m-nav__link--icon">
                      <i class="m-nav__link-icon la la-home"></i>
                    </a>
                  </li>
                  <li class="m-nav__separator">
                    -
                  </li>
                  <li class="m-nav__item">
                    <a href="/admin/dashboard" class="m-nav__link">
                      <span class="m-nav__link-text">
                        Dashboard
                      </span>
                    </a>
                  </li>
                  <li class="m-nav__separator">
                    -
                  </li>
                  <li class="m-nav__item">
                    <a href="/admin/campaigns" class="m-nav__link">
                      <span class="m-nav__link-text">
                        Campanhas
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
              <div>
                


              </div>
            </div>
          </div>
          <!-- END: Subheader -->
          <div class="m-content">
            <div class="row">
              
            <div class="col-md-12">

              <%= render "sharedAdmin/alert" %>
              
              <!--begin::Portlet-->
              <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                  <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                      <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                      </span>
                      <h3 class="m-portlet__head-text">
                        <%= 
                          if action_name == "new"
                            "Adicionar Campanha"
                          else
                            "Editar Campanha"
                          end
                        %>
                      </h3>
                    </div>
                  </div>
                </div>
                <!--begin::Form-->

                <%= form_with(model: campaign, local: true) do |f| %>


                  <div class="m-portlet__body">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Nome
                      </label>

                      <%= f.text_field :name, autofocus: true, required: true, class: "form-control m-input m-input--square" %>
                    </div>

                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Chamada
                      </label>

                      <%= f.text_area :name, required: true, class: "form-control m-input m-input--square" %>
                    </div>


                    <div class="form-group m-form__group row">
                      <label class="col-form-label col-lg-3 col-sm-12">
                        Exibir até
                      </label>
                      <div class="col-lg-4 col-md-9 col-sm-12">

                        <%= f.text_field :expiration, required: true, class: "form-control", id: "m_datetimepicker_1", readonly: true, placeholder: "Selecione uma data" %>
                      </div>
                    </div>
                    <br>

                    

                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Imagem
                      </label>


                          <%= f.attachinary_file_field :image, class: "" %>

                    </div>
                    <br>


                   


                    <div class="m-form__group form-group">
                      <label class="m-checkbox">
                        <%= f.check_box :active, class: "form-control", id: "m_datetimepicker_1", readonly: true, placeholder: "Selecione uma data" %>
                        Ativar imediatamente?
                        <span></span>
                      </label>
                    </div>


                    <br>


                    <div class="m-form__actions">
                      <!-- <button type="reset" class="btn btn-metal">
                        Submit
                      </button> -->
                      <%= f.submit "Salvar", class: "btn btn-metal" %>

                     
                    </div>

                    
                  </div>


                <% end %>
                <!--end::Form-->
              </div>
              <!--end::Portlet-->
    
    
    
      </div>



    </div>
  </div>
</div>