<!-- <p id="notice"><%= notice %></p>

<h1>Campaigns</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
      <th>Link</th>
      <th>Image</th>
      <th>Expiration</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= campaign.name %></td>
        <td><%= campaign.body %></td>
        <td><%= campaign.link %></td>
        <td><%= campaign.image %></td>
        <td><%= campaign.expiration %></td>
        <td><%= campaign.active %></td>
        <td><%= link_to 'Show', campaign %></td>
        <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
        <td><%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign', new_campaign_path %> -->






<div class="m-grid__item m-grid__item--fluid m-wrapper">
  <!-- BEGIN: Subheader -->
  <div class="m-subheader ">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">
          Campanhas
        </h3>
        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
          <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
              <i class="m-nav__link-icon la la-home"></i>
            </a>
          </li>
          <li class="m-nav__separator">
            -
          </li>
          <li class="m-nav__item">
            <a href="/admin/campaigns" class="m-nav__link">
              <span class="m-nav__link-text">
                Dashboard
              </span>
            </a>
          </li>
          <li class="m-nav__separator">
            -
          </li>
          <li class="m-nav__item">
            <a href="" class="m-nav__link">
              <span class="m-nav__link-text">
                Campanhas
              </span>
            </a>
          </li>
          
        </ul>
      </div>
      <div>
        
      </div>
    </div>
  </div>
  <!-- END: Subheader -->
  <div class="m-content">
    <!-- <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
      <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-brand"></i>
      </div>
      <div class="m-alert__text">
        The Metronic Datatable component supports initialization from HTML table. It also defines the schema model of the data source. In addition to the visualization, the Datatable provides built-in support for operations over data such as sorting, filtering and paging performed in user browser(frontend).
      </div>
    </div> -->

    <%= render "sharedAdmin/alert" %>

    
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__body">
        <!--begin: Search Form -->
        <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
          <div class="row align-items-center">
            <div class="col-xl-8 order-2 order-xl-1">
              <div class="form-group m-form__group row align-items-center">
                <div class="col-md8">
                  <div class="m-input-icon m-input-icon--left">
                    <input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
                    <span class="m-input-icon__icon m-input-icon__icon--left">
                      <span>
                        <i class="la la-search"></i>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 order-1 order-xl-2 m--align-right">
              <a href="/admin/campaigns/new" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                <span>
                  <span>
                    Adicionar
                  </span>
                </span>
              </a>
              <div class="m-separator m-separator--dashed d-xl-none"></div>
            </div>
          </div>
        </div>
        <!--end: Search Form -->
<!--begin: Datatable -->
        <table class="m-datatable" id="html_table" width="100%">
          <thead>
            <tr>
              <!-- <th title="Field #1">
                ID
              </th> -->
              <th title="Field #2">
                Nome
              </th>

              <th title="Field #3">
                Expira em
              </th>
              <th title="Field #3">
                Criado em
              </th>
              <th title="Field #3">
                Ações
              </th>
            </tr>
          </thead>
          <tbody>

            <% @campaigns.each do |campaign| %>
              <tr>
                <td>
                  <%= campaign.try(:name) %>
                </td>

                <td>
                  <%= campaign.expiration.strftime("%d/%m/%Y - %H:%M") if campaign.expiration %>
                </td>
                <td>
                  <%= campaign.created_at.strftime("%d/%m/%Y - %H:%M") %>
                </td>
                <td>
                  <%= link_to 'Editar'.html_safe, edit_campaign_path(campaign), class: 'btn btn-primary' %> 


                  <%= link_to 'Remover'.html_safe, campaign, method: :delete, data: {confirm: "Tem certeza que quer remover a campanha #{campaign.name}?"}, class: 'btn btn-danger' %> 
                </td>
              </tr>
            <% end %>
            
          </tbody>
        </table>
        <!--end: Datatable -->
      </div>
    </div>
  </div>
</div>