<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @campaign.body %>
</p>

<p>
  <strong>Link:</strong>
  <%= @campaign.link %>
</p>

<p>
  <strong>Image:</strong>
  <%= @campaign.image %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @campaign.expiration %>
</p>

<p>
  <strong>Active:</strong>
  <%= @campaign.active %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
