<!-- <h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "admin_users/shared/links" %>
 -->






<div class="m-login__signin">
  <div class="m-login__head">
    <h3 class="m-login__title">
      Esqueci a senha
    </h3>
  </div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "m-login__form m-form", method: :post }) do |f| %>
    <div class="form-group m-form__group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control m-input",  placeholder: "Email"  %>
    </div>
    <div class="row m-login__form-sub">
      <div class="col m--align-right m-login__form-right">
        <a href="/admin" id="m_login_forget_password" class="m-link">
          Entrar
        </a>
      </div>
    </div>
    <div class="m-login__form-action">

      <%= f.submit "Pedir nova senha", class: "btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary" %>
    </div>
  <% end %>
</div>