<!-- <h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
 -->






<div class="m-login__wrapper-1 m-portlet-full-height">
          <div class="m-login__wrapper-1-1">
            <div class="m-login__contanier">
              <div class="m-login__content">
                <div class="m-login__logo">
                  <a href="#">
                    <%= image_tag "logoBeep.png" %>
                  </a>
                </div>
                

                <div class="m-login__desc">
                  Amazing Stuff is Lorem Here.Grownng Team
                </div>
                <div class="m-login__form-action">
                  <a href="/" id="m_login_signup" class="btn btn-outline-focus m-btn--pill">
                    Entrar
                  </a>
                </div>

                <div class="">
                  <h3>
                    JUNTE-SE A NOSSA COMUNIDADE DE USUÁRIOS E BAIXE O APP
                  </h3>
                </div>

                <%= render "sharedAdmin/download" %>
              </div>
            </div>
            <div class="m-login__border">
              <div></div>
            </div>
          </div>
        </div>




<div class="m-login__wrapper-2 m-portlet-full-height">
          <div class="m-login__contanier">
            <div class="m-login__forget-password" style="display: block;">
              <div class="m-login__head">
                <h3 class="m-login__title">
                  Esqueceu a senha ?
                </h3>
                <div class="m-login__desc">
                  Insira seu email para recuperar a senha.<br>
                  Você receberá um email com instruções.
                </div>

                <%= render "sharedAdmin/alert" %>
              </div>
              	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "m-login__form m-form" }) do |f| %>

                <div class="form-group m-form__group">
                	<%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "form-control m-input", placeholder: "Email" %>
                </div>
                <div class="m-login__form-action">
                  <%= f.submit "Recuperar", class: "btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" %>
                </div>
              <% end %>
            </div>



          </div>
        </div>