<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

 -->







<div class="m-login__wrapper-1 m-portlet-full-height">
          <div class="m-login__wrapper-1-1">
            <div class="m-login__contanier">
              <div class="m-login__content">
                <div class="m-login__logo">
                  <a href="#">
                    <%= image_tag "logoBeep.png" %>
                  </a>
                </div>
                <div class="m-login__title">
                  <h3>
                    EDITE SEUS DADOS
                  </h3>
                </div>
                <div class="m-login__desc">
                  Utilize o formuário ao lado para editar <br>as informações sosbre sua conta
                </div>
                <div class="m-login__form-action">
                  <a href="/sair" id="m_login_signup" class="btn btn-outline-focus m-btn--pill">
                    Sair
                  </a>
                </div>

                <%= render "sharedAdmin/download" %>

                
              </div>
            </div>
            <div class="m-login__border">
              <div></div>
            </div>
          </div>
        </div>


<div class="m-login__wrapper-2 m-portlet-full-height">
          <div class="m-login__contanier">
           


            <div class="m-login__signup" style="display: block;">
              <div class="m-login__head">
                <h3 class="m-login__title">
                  Seus Dados
                </h3>
                <!-- <div class="m-login__desc">
                  Edite seus dados
                </div> -->

                <%= render "sharedAdmin/alert" %>
              </div>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "m-login__form m-form", method: :put}) do |f| %>
                <div class="form-group m-form__group">
                  <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control m-input", placeholder: "Nome Completo", required: true %>

                </div>
                <div class="form-group m-form__group">
                  <%= f.email_field :email, autocomplete: "email", class: "form-control m-input", placeholder: "Email", required: true %>
                </div>
                <div class="form-group m-form__group">

                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control m-input", placeholder: "Nova Senha" %>

                  <span class="m-form__help">
                    Preencha este campo caso queira trocar a senha
                  </span>

                </div>


                <div class="form-group m-form__group">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control m-input", placeholder: "Repetir Senha" %>

                  <span class="m-form__help">
                    Confirme a nova senha
                  </span>

                </div>

                <div class="form-group m-form__group">
                  <%= f.password_field :current_password, autocomplete: "new-password", required: true, class: "form-control m-input", placeholder: "Senha Atual" %>

                  <span class="m-form__help">
                    Preencha este campo para confirmar a alteração dos dados
                  </span>

                </div>
                
                <div class="m-login__form-action">

                  <%= f.submit "Salvar", class: "btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" %>

                </div>
              <% end %>
            </div>








          </div>
        </div>